:root{
    --bg-color:#E5E5E5;
    --primary-text-color:#919299;
    --title-text-color: #56597A;
    --btn-and-accent-color: #F78CB6;
    --btn-text-color:#FFFFFF;
    --nav-text-color:#AAAAAB;
    --logo-text-color:#F087B1;
    --arrow-bg-color:#FFC1DA;
    --navigation-review-color:#ABABAB;
    --placeholder-color:#D2D2D2;
    --animation:  500ms cubic-bezier(0.4,0,0.2,1);
    --mg-size-sm: 576px;
    --mg-size-md: 768px;
    --mg-size-lg: 992px;
    --mg-size-xl: 1200px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.container{
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}
.header{
    padding: 18px 0px 18px;
}
.navigation{
    display: none;
}
.section-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--btn-and-accent-color);
}
.section-title--hero{
    margin-bottom: 12px;
}
.section-title--services{
text-align: center;
margin-bottom: 6px;
}
.section-title--hero::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 3px;
    margin-right: 7px;
    background: var(--btn-and-accent-color);
}

.wrapper{
    display: flex;
    justify-content: space-around;
}
.logo{
font-family: Josefin Sans;
font-weight: 700;
pointer-events: none;
font-size: 14px;
margin-right: 50px;
line-height: 30px;
letter-spacing: 0.02em;
}

.logo__first{
    color:var(--logo-text-color);
}
.logo__second{
    color: var(--title-text-color);
}
.navigation__btn{
    border: none;
    cursor: pointer;
    margin-left: 62px;
    background: transparent;
}
.navigation__icon{
    width: 18px;
    height: 18px;
    fill: var(--nav-text-color);
}

.hero{
    padding: 30px 0 30px;
}
.text{
    max-width: 250px;
    font-size: 9px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.text--hero{
    margin-bottom: 10px;

}
.title{
    max-width: 300px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    color: var(--title-text-color);
}
.hero__block{
position: relative;
}
.hero__picture{
    position: absolute;
    top: -10px;
    right: 12px;
    width: 150px;
    height: 150px;
}
.btn{
    position: relative;
    display: block;
    border: none; 
    cursor: pointer;
    background: var(--btn-and-accent-color);
    border-radius: 4px;
    filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
}
.btn--hero{
    width: 100px;
    height: 30px;
    padding: 4px 26px 6px 4px;
}
.btn__arrow{
    position: absolute;
    top: 11px;
    right: 15px;
    width: 13px;
    height: 10px;
}
.btn__square{
    position: absolute;
    top: 9px;
    right: 10px;
    width: 14px;
    height: 14px;
}
.btn__text{
font-size: 10px;
letter-spacing: 0.02em;
color: var(--btn-text-color);
}
.services{
    padding-bottom: 30px;
}
.slogan{
font-weight: bold;
font-size: 16px;
color: var(--title-text-color);
}
.slogan--services{
margin-bottom: 12px;
text-align: center;
}

.set__card{
    width: 350px;
    height: 307px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background: #FFF1F9;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 4px rgba(228, 206, 206, 0.3));
}
.set__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 54px 111px 42px;
}
.set__title{
font-weight: 500;
font-size: 34px;
line-height: 72px;
color: var(--title-text-color);
text-align: center;
}
.set__text{
    padding: 0 23px 23px;
font-size: 16px;
line-height: 24px;
text-align: center;
}

.design__wrapper{
    display: flex;
}
.design__picture{
width: 200px;
height: 150px;
margin-right: 10px;
} 
.section-title--design{
    text-align: center;
    margin-left: 85px;
}
.slogan--variant{
    max-width: 200px;
    margin-bottom: 10px;
}
.btn--design{
    width: 110px;
    height: 30px;
    padding: 4px 26px 6px 4px;
}
.text--design,
.text--team{
    margin-bottom: 10px;
}
.teamwork{
    padding-top: 50px;
    padding-bottom: 50px;
}
.teamwork__wrapper{
    display: flex;
    align-items: center;
}
.btn--teamwork{
    width: 100px;
    height: 30px;
    padding: 4px 26px 6px 4px;
}
.section-title--teamwork{
    margin-bottom: 6px;
}
.slogan--team {
    max-width: 200px;
    margin-bottom: 10px;
}
.team__picture{
    width: 362px;
    height: 252px;
    margin-top: 40px;
}
.teamwork__block{
    margin-right: 40px;
}
.testimonial{
    padding-bottom: 50px;
}
.testimonial__wrapper{
    display: flex;
}
.testimonial__picture{
    width: 200px;
    height: 250px;
    margin-right: 25px;
}
.testimonial__name{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--title-text-color);
}
.testimonial__country{
    position: relative;
    font-size: 10px;
color: var(--navigation-review-color);
}
.testimonial__icon-left{
    position: absolute;
    width: 14px;
    top: -3px;
    right: 50px;
}
.testimonial__icon-right{
    position: absolute;
    width: 18px;
    top: -6px;
    right: 25px;
}
.clients{
    padding-bottom: 70px;
}
.clients__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients__item{
    margin-bottom:20px;
}
.subscribe{
    padding-bottom: 50px;
}
.subscribe__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe__picture{
    width: 120px;
    height: 120px;
}
.form{
    position: relative;
}
.form__input{
    width: 245px;
    height: 40px;
    padding-left: 24px;
    filter: drop-shadow(20px 20px 40px rgba(205, 205, 205, 0.25));
    background-color: var(--btn-text-color);
    border-color: transparent;
}
::placeholder{
    font-size: 10px;
    color: var(--placeholder-color);
}
.btn--subscribe{
    position: absolute;
    width: 80px;
    height: 30px;
    top: 5px;
    right: 10px;
    padding-right: 20px;
    padding-bottom: 4px;
}
.btn__email{
    position: absolute;
    top: 8px;
    right: 216px;
}
.btn__arrow--sub{
    top: 11px;
    right: 10px;
    width: 11px;
    height: 10px;
}
.btn__square--sub{
    top: 9px;
    right: 4px;
    width: 13px;
    height: 13px;
}
.btn__text--sub{
    font-size: 9px;
    font-weight: 900;
}
.slogan--sub{
    margin-left: 10px;
}
.text--sub{
    text-align: center;
}

@media (min-width:567px){
    .container{
        --container-width:var(--mg-size-sm);
    }
    .hero__picture{
        right: 70px;
    }
    
.design__picture{
margin-right: 55px;
} 
.section-title--design {
    margin-left: 80px;
}
.teamwork{
    padding-bottom: 130px;
}
.team__picture{
    margin-top: 0;
    margin-bottom: 40px;
}
.testimonial__picture{
    width: 250px;
}
}
@media (min-width:768px){
    .container{
        --container-width:var(--mg-size-md);
    }
    .hero__picture{
    top: -17px;
    right: 105px;
    width: 250px;
    height: 250px;
}
.set{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-top: -20px;
}
.set__card{
    max-width: 300px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 20px;
    flex-basis: calc((100% - 2 * 20px) / 2);
}
.design__picture{
    width: 245px;
    height: 223px;
    margin-left: 29px;
    margin-right: 175px
} 
.section-title--design {
    margin-left: 275px;
}
.text{
    font-size: 12px;
}
.teamwork{
    padding-bottom: 170px;
}
.clients__list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item{
    margin-bottom: 0;
    margin-right: 40px;
}
.subscribe__picture {
    width: 140px;
    height: 140px;
    margin-top: -13px;
    margin-right: 102px;
}
}
@media (min-width:992px){
    .container{
        --container-width:var(--mg-size-lg);
    }
    .hero__picture{
    top: -17px;
    right: 153px;
    width: 250px;
    height: 250px;
}
.title{
    font-weight: 700;
    font-size: 24px;
}
.text{
    max-width: 400px;
    font-size: 14px;
}
.btn--hero{
    margin-left: 30px;
    width: 100px;
    height: 30px;
    padding: 6px 26px 6px 4px;
}

.slogan--services{
margin-bottom: 30px;
}
.section-title--design {
    margin-left: -10px;
}
.design__picture{
margin-right: 145px;
} 
.testimonial__picture{
    margin-right: 100px;
}
.btn--subscribe{
    right: 160px;
}
}
@media (min-width:1200px){
    .container{
        --container-width:var(--mg-size-xl);
    }
    .header{
    padding: 76px 0px 76px;
    }
    .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .logo{
font-size: 30px;
margin-right: 509px;
}
.navigation{
    display: flex;
}
.navigation__list{
    display: flex;
}

.navigation__item:not(:last-child){
    margin-right: 65px;
}
.navigation__link{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--navigation-review-color);
    transition: color var(--animation),box-shadow var(--animation),transform var(--animation);
}
.navigation__link:hover{
    transform: scale(1.15);
    color: var(--title-text-color);
    box-shadow:  6px 6px 0px rgba(235, 138, 214, 0.2);
}
.navigation__link::after{
	content: "";
    display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: var(--btn-and-accent-color); 
	transition: width var(--animation);
}

.navigation__link:hover:after,
.navigation__link:focus:after {
	width: 100%; 
}
.navigation__link.is-active{
    pointer-events: none;
    font-weight: 700;
    color: var(--title-text-color);
}
.navigation__btn{
    cursor: pointer;
    padding-top: 7px;
}
.navigation__icon{
    width: 24px;
    height: 24px;
    transition:  fill var(--animation), transform var(--animation), stroke var(--animation);

}
.navigation__icon:hover{
    fill:var(--logo-text-color);
    stroke: var(--btn-and-accent-color);
    transform: scale(1.25);
}
.section-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: var(--btn-and-accent-color);
}
.section-title--hero{
    margin-bottom: 30px;
}
.section-title--hero::before{
    width: 36px;
}
.hero{
    display: flex;
    padding: 53px 0 112px;
}
.hero__block{
position: relative;
}

.text{
    text-align: left;
    max-width: 573px;
    font-size: 20px;
    line-height: 32px;
}
.title{
    max-width: 679px;
    margin-left: 0;
    margin-bottom: 31px;
    font-size: 64px;
    line-height: 74px;
    transition: color var(--animation);
}
.text--hero{
    margin-bottom: 42px;
}
.title:hover{
    color: var(--btn-and-accent-color);
}
.hero__picture{
    top: -12px;
    right: 35px;
    width: 532px;
    height: 532px;
    transition:  box-shadow var(--animation), border-radius var(--animation), opacity var(--animation) ;
}
.hero__picture:hover{
    box-shadow: 0 0 20px var(--nav-text-color) ;
    opacity: 0.8;
    border-radius: 50%;
}
.btn{
    filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
    transition:  box-shadow var(--animation),  border-radius var(--animation);
}
.btn:hover{
    background-color: var(--logo-text-color);
    box-shadow: 2px 2px 3px rgb(0 0 0 / 40%);
}
.btn--hero{
    width: 216px;
    height: 66px;
    margin: 0;
    padding: 18px 56px 18px 7px;
}
.btn__arrow{
    top: 26px;
    right: 38px;
    width: 29px;
    height: 13px;
}
.btn__square{
    top: 17px;
    right: 24px;
    width: 32px;
    height: 32px;
}
.btn__text{
font-size: 20px;
line-height: 30px;
}
.services{
    padding-bottom: 186px;
}
.slogan{
font-size: 52px;
}
.slogan--services{
margin-bottom: 58px;
line-height: 72px;
}
.set{
    flex-wrap: nowrap;
    margin-right: -30px;
}
.set__card{
    cursor: pointer;
    width: 270px;
    height: 307px;
    margin-right: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
}

.set__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 54px 111px 42px;
}
.set__title{
font-weight: 500;
font-size: 34px;
line-height: 72px;
color: var(--title-text-color);
text-align: center;
}
.set__text{
    padding: 0 23px 23px;
font-size: 16px;
line-height: 24px;
text-align: center;

} 
.design{
    padding-bottom: 217px;
}
.design__picture{
width: 503px;
height: 426px;
margin-right: 94px;
transition:  box-shadow var(--animation), border-radius var(--animation), opacity var(--animation) ;
} 
.design__picture:hover{
    box-shadow: 0 0 20px var(--nav-text-color) ;
    opacity: 0.8;
    border-radius: 50%;
}
text--design{
    margin-bottom: 31px;
}
.slogan--variant{
    max-width: 606px;
}
.section-title--design{
    margin-left: 235px;
}
.btn--design{
    width: 223px;
    height: 58px;
    padding: 10px 50px 6px 4px;
}
.btn--teamwork{
    width: 196px;
    height: 58px;
    padding: 10px 50px 6px 4px;
}
.btn__arrow--team{
    top: 25px;
    right: 25px;
}
.btn__square--team{
    top: 15px;
    right: 12px;
}
.teamwork{
    padding-top: 0;
    padding-bottom: 179px;
}
.text--team{
    margin-bottom: 18px;
}
.team__picture{
    width: 591px;
    height: 587px;
    transition:  box-shadow var(--animation), border-radius var(--animation), opacity var(--animation) ;
}
.team__picture:hover{
    box-shadow: 0 0 20px var(--nav-text-color) ;
    opacity: 0.8;
    border-radius: 50%;
}
.testimonial{
    padding-bottom: 182px;
}
.testimonial__picture{
    cursor: pointer;
    width: 435px;
    height: 418px;
    margin-right: 144px;
    transition:  opacity var(--animation);
}
.testimonial__picture:hover{
    opacity: 0.8;
}
.testimonial__name{
    font-size: 28px;
    line-height: 32px;
    color: var(--title-text-color);
}
.testimonial__country{
    font-size: 16px;
line-height: 32px;
color: var(--navigation-review-color);
}
.clients{
    padding-bottom: 158px;
}
.clients__link{
    cursor: pointer;
}
.clients__list{
    flex-wrap: nowrap;
}
.clients__item:not(:last-child){
    margin-right: 90px;
}
.clients__item{
    transition:  box-shadow var(--animation), border-radius var(--animation);

}
.clients__item:hover{
    background: linear-gradient(90deg, rgba(240,135,177,1) 0%, rgba(255,193,218,1) 35%, rgba(230,106,155,1) 100%);
    box-shadow: 0 15px 10px var(--primary-text-color);
    border-radius: 8px;
}
.subscribe{
    padding-bottom: 209px;
}
.subscribe__picture{
    width: 250px;
    height: 250px;
}
.form__input{
    width: 706px;
    height: 82px;
    padding-left: 46px;
}
::placeholder{
    font-size: 20px;
line-height: 32px;
}
.slogan--sub{
    margin-left: 15px;
}
.text--sub{
    text-align: center;
    margin-bottom: 15px;
}
.btn--subscribe{
    width: 178px;
    height: 54px;
    top: 14px;
    right: 2px;
    padding-right: 45px;
    padding-bottom: 0;
    margin-right: 12px;
}
.btn__square--sub{
    top: 12px;
    right: 11px;
}
.btn__arrow--sub{
    top: 22px;
    right: 25px;
}

.btn__email {
    top: 16px;
    right: 645px;
}

}